<% content_for :title, "Informations" %>

<div class="alert alert-info">
    <strong><%= RMonitor::Info.versioned_name %></strong>
</div>

<div class="box">
    <pre><%= RMonitor::Info.environment %></pre>
</div>