<% content_for :title, "Informations" %>

<h2><%# l(:label_information_plural)%></h2>

<p><strong><%= RMonitor::Info.versioned_name %></strong></p>
<br />
<div class="box">
<pre><%= RMonitor::Info.environment %></pre>
</div>

<%# html_title(l(:label_information_plural)) -%>