<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>My RMonitor</h1>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span6">
    <h2>DNS</h2>
    <ul>
      <li>ns-1.domaine.net</li>
      <li>ns-2.domaine.net</li>
      <li>ns-3.domaine.net</li>
    </ul>
  </div>
  <div class="span5">
    <h2>Backups</h2>
    <ul>
      <li>backups-1.domaine.net</li>
      <li>backups-2.domaine.net</li>
      <li>backups-3.domaine.net</li>
    </ul>
 </div>
  <div class="span5">
    <h2>Last logs</h2>
    <p>Already is done.</p>
  </div>
</div>