<table>

  <thead>
  	<tr>
      <th></th>
      <th widht="99%">servername</th>
  	</tr>
  </thead>

  <tbody>
    <tr>
      <td><%= image_tag('https://console.online.net/media/images/puce_verte.png') %></td>
      <td><%= link_to('serveur de staging', :project_show) %></td>
    </tr>
  </tbody>

</table>