<ul class="tabs">
  <li class="active"><a href="#home">Monitoring</a></li>
  <li><a href="#backups">Backups</a></li>
  <li><a href="#settings">Settings</a></li>
</ul>
 
<div class="pill-content">
  <div class="active" id="home">
  	<%= image_tag('https://console.online.net/gen_graph.php?type=debit-journalier&id=22679&port=1') %>
  </div>
  <div id="backups">

  </div>
  <div id="settings">

  </div>
</div>