<% content_for :title, t(:server).pluralize %>

<div class="page-header">
    <div class="row">
        <div class="span10">
            <h1><%= yield :title %></h1>
        </div>
        <div class="span2">
            <%= link_to new_server_path(), :class => "btn btn-small btn-success" do %>
                <i class="icon-plus icon-white"></i> New server
            <% end %>
        </div>
    </div>
</div>


<ul class="unstyled">
<% @servers.each do |server| %>
    <li>
        <span class="badge badge-<%= server.status ? 'success' : 'important' %>">&nbsp;</span>
        <%= link_to server.name, server_path(server) %>
    </li>
<% end %>
</ul>