<ul class="unstyled">
<% @servers.each do |server| %>
  <li>
    <span class="badge badge-<%= server.status ? 'success' : 'important' %>">&nbsp;</span>
    <%= link_to server.name, server_path(server) %>
  </li>
<% end %>
</ul>