<h2><%= @server.name %></h2>

<table class="table table-striped">
  <tbody>
    <tr>
      <th>Host</th>
      <td><%= @server.host %></td>
    </tr>
    <tr>
      <th>Last synchronization</th>
      <td><%= @server.synchronized_at %></td>
    </tr>
    <tr>
      <th>Status</th>
      <td><%= @server.status %></td>
    </tr>
  </tbody>
</table>