/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require_self
*/

body {
  padding-top: 60px;
}

#submenu {
  width: 100%;
  margin-top: -20px;
  padding-left: 10px;
  background-color: #111;
  margin-bottom: 10px;
}
#submenu .tabs {
  padding-top: 30px;
  margin-bottom: -1px;
}
#submenu .tabs li.active > a, #submenu .tabs li.active > a:hover {
  color: gray;
}
#submenu .tabs li a { color: #fff; }
