/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require bootstrap-responsive
 *= require_self
 *= require_tree
*/

@import url(http://fonts.googleapis.com/css?family=Actor|Ubuntu|Imprima);

body {
  padding-top: 60px;
}


#submenu {
  width: 100%;
  margin-top: -20px;
  padding-left: 10px;
  background-color: #111;
  margin-bottom: 10px;
}
#submenu .tabs {
  padding-top: 30px;
  margin-bottom: -1px;
}
#submenu .tabs li.active > a, #submenu .tabs li.active > a:hover {
  color: gray;
}
#submenu .tabs li a { color: #fff; }


.navbar .navbar-inner {
  background-color: #000;
}

.navbar-fixed-top .brand {
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
.navbar-fixed-top .brand:hover {
  text-decoration: none;
}