/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require bootstrap-responsive
 *= require_self
*/

body.public {
  background: #000 image-url("public/background.png") repeat-x;
  margin-top: 60px;
  padding-top: 0;
}

body.public .container {
  color: #fff;
}

.server {
  margin-bottom: 20px;
}

.server .uptime,
.server .name {
  line-height: 95px;
  font-family: "Actor", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.full-circle {
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #333;
  -moz-border-radius: 47.5px;
  -webkit-border-radius: 47.5px;
  border-radius: 47.5px;
  width: 95px;
  height: 95px;
  text-align: center;
  font-size: 1.2em;
}

.full-circle.success   { border-color: green; }
.full-circle.warning   { border-color: yellow; }
.full-circle.important { border-color: red; }
