/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require bootstrap-responsive
 *= require_self
*/

body {
  background: #000 image-url("public/background.png") repeat-x;
  color: #fff;
  font-size: .9em;
  margin-top: 60px;
}

.navbar .navbar-inner {
  background-color: #000;
}



.full-circle {
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #333;
  height: 150px;
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
  width: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 1.5em;
}

.full-circle.green { border-color: green; }
.full-circle.red   { border-color: red; }
